*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: white; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  40% {
    opacity: .5; }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #e1d8d6; }

.navbar {
  font-size: 2rem; }

.navbar-brand {
  font-size: 3rem; }

.heading-primary--main {
  color: white;
  font-size: 6rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 767px) {
    .heading-primary--main {
      font-size: 4.5rem; } }

.heading-primary--sub {
  font-size: 1.8rem;
  margin-bottom: 5rem;
  color: white; }

.footer-text {
  font-size: 1.4rem; }

.heading-secondary {
  color: #161219;
  font-size: 4rem; }

.heading-tertiary {
  color: #161219;
  font-size: 2.7rem; }

.paragraph {
  color: #161219;
  font-size: 1.7rem;
  list-style-position: inside; }

.u-center-text {
  text-align: center; }

.u-text-align-right {
  text-align: right; }

.u-medium-margin-top {
  margin-top: 5rem; }

.u-small-margin-bottom {
  margin-bottom: 2rem; }

.u-medium-margin-bottom {
  margin-bottom: 5rem; }

.u-large-margin-bottom {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 3rem;
  display: inline-block;
  border-radius: .4rem;
  font-size: 2rem;
  transition: all .2s; }

.btn:hover {
  color: white;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--light {
  background-color: #C1666B;
  color: white; }

.btn-small:link, .btn-small:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  border-radius: .4rem;
  font-size: 1.7rem;
  background-color: #C1666B;
  color: white;
  transition: all .2s; }

.btn-small:hover {
  color: white;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-small:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn-small:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.header {
  height: 65vh;
  background-image: linear-gradient(to right bottom, rgba(20, 92, 158, 0.9), rgba(44, 71, 112, 0.9)), url(../../img/fckt.png);
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .header {
      height: 90vh; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .header__text-box {
        width: 80%; } }

.header__vector {
  height: 14rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.footer {
  color: white;
  background-color: #145C9E;
  background-size: cover;
  position: relative;
  padding: 2rem 0;
  line-height: 1.4rem;
  font-size: 1.7rem; }

.footer__mail {
  color: white; }
  .footer__mail:hover {
    color: #C1666B; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 3.2rem 0; }
  @media only screen and (max-width: 767px) {
    .row {
      padding: 0; } }

.navbar {
  margin: 0 5%; }

.nav-item {
  margin: 0 .5rem; }

@media only screen and (max-width: 767px) {
  .navbar-brand {
    font-size: 2rem; } }

.section-about__photo {
  width: 100%;
  border-radius: .4rem; }
  @media only screen and (max-width: 767px) {
    .section-about__photo {
      display: block;
      margin: 0 auto 2rem auto; } }

@media only screen and (max-width: 767px) {
  .desktop-only-photo {
    display: none; } }
