*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: white; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #e1d8d6; }

.navbar {
  font-size: 2rem; }

.navbar-brand {
  font-size: 3rem; }

.heading-primary--main {
  color: #e1d8d6;
  font-size: 6rem;
  margin-bottom: 1rem; }

.heading-primary--sub {
  font-size: 1.8rem;
  margin-bottom: 5rem; }

.footer-text {
  font-size: 1.4rem; }

.heading-secondary {
  color: #161219;
  font-size: 4rem; }

.heading-tertiary {
  color: #161219;
  font-size: 3rem; }

.paragraph {
  color: #161219;
  font-size: 1.7rem;
  list-style-position: inside; }

.u-center-text {
  text-align: center; }

.u-text-align-right {
  text-align: right; }

.u-small-margin-bottom {
  margin-bottom: 2rem; }

.u-medium-margin-bottom {
  margin-bottom: 5rem; }

.u-large-margin-bottom {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  display: inline-block;
  border-radius: .4rem;
  font-size: 2rem; }

.btn--light {
  background-color: #4bb0d0;
  color: #2C4770; }

.header {
  height: 65vh;
  background-image: linear-gradient(to right bottom, rgba(21, 45, 84, 0.9), rgba(44, 71, 112, 0.9)), url(../../img/fckt.png);
  background-size: cover;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #152D54;
  background-size: cover;
  position: relative;
  padding: 2rem 0; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 3.2rem 0; }

.navbar {
  margin: 0 5%; }

.nav-item {
  margin: 0 .5rem; }

.section-about__photo {
  width: 100%;
  border-radius: .4rem; }
  @media only screen and (max-width: 767px) {
    .section-about__photo {
      display: block;
      margin: 0 auto 2rem auto; } }

.img-col {
  float: left; }

.text-col {
  float: right; }
