*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #e1d8d6; }

.navbar {
  font-size: 2rem; }

.navbar-brand {
  font-size: 3rem; }

.heading-primary--main {
  color: #e1d8d6;
  font-size: 6rem;
  margin-bottom: 1rem; }

.heading-primary--sub {
  font-size: 1.8rem;
  margin-bottom: 5rem; }

.heading-secondary {
  color: #161219;
  font-size: 4rem; }

.heading-tertiary {
  color: #161219;
  font-size: 3rem; }

.paragraph {
  color: #161219;
  font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-medium-margin-bottom {
  margin-bottom: 5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  font-size: 2rem; }

.btn--light {
  background-color: #4bb0d0;
  color: #2C4770; }

.header {
  height: 60vh;
  background-image: linear-gradient(to right bottom, rgba(21, 45, 84, 0.9), rgba(44, 71, 112, 0.9)), url(../../img/fckt.png);
  background-size: cover;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navbar {
  margin: 0 5%; }

.nav-item {
  margin: 0 .5rem; }

.about-image-block {
  background-image: url("../../img/kranbil_1.jpg");
  background-size: cover;
  height: 100%;
  position: relative; }

.section-about__photo {
  width: 100%; }

.row__grey {
  background-color: grey; }
