// COLORS
$color-primary: #152D54;
$color-primary-light: #4bb0d0;
$color-primary-dark: #2C4770;
$color-grey-light: #e1d8d6;
$color-grey-dark: #161219;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;