// COLORS
$color-primary: #145C9E;
$color-primary-light: rgb(18, 84, 145);
$color-primary-dark: #2C4770;
$color-black: black;
$color-grey-light: #e1d8d6;
$color-grey-dark: #161219;
$color-background: #f2f2f2;
$color-red: #C1666B;
$color-white: white;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;