.header {
    height: 65vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.9),
        rgba($color-primary-dark, 0.9)),
        url(../../img/fckt.png);
    background-size: cover;
    position: relative;


    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}