.about-image-block {
    background-image: url("../../img/kranbil_1.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
}

.section-about__photo {
    width: 100%;
}


.row__grey {
    background-color: grey;
}