body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $color-grey-light;
}

.navbar {
    font-size: 2rem;
}

.navbar-brand {
    font-size: 3rem;
}

.heading-primary--main {
    color: $color-grey-light;
    font-size: 6rem;
    margin-bottom: 1rem;
}

.heading-primary--sub {
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

.heading-secondary {
    color: $color-grey-dark;
    font-size: 4rem;
}

.heading-tertiary {
    color: $color-grey-dark;
    font-size: 3rem;
}

.paragraph {
    color: $color-grey-dark;
    font-size: 1.7rem;
}