.u-center-text {
    text-align: center;
}

.u-text-align-right {
    text-align: right;
}

.u-small-margin-bottom {
    margin-bottom: 2rem;
}

.u-medium-margin-bottom {
    margin-bottom: 5rem;
}

.u-large-margin-bottom {
    margin-bottom: 8rem;
}